<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Inventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="page-title">
        <h1>Clothing Inventory</h1>
        <div class="btn-design jump">
            <a class="link" href="/clothes/new">Add Clothes</a>
        </div>
    </div>

    <div class="table-container">
        <table class="table-content">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Material Type</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>On Sale</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% clothes.forEach(item => { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.color %></td>
                        <td><%= item.materialType %></td>
                        <td><%= item.price %></td>
                        <td><%= item.quantity %></td>
                        <td>
                            <% if (item.isOnSale) { %>
                                YES
                             <% } else { %>
                                NO
                            <% } %>
                    
                        </td>
                        <td><a class="view-btn" href="/clothes/<%= item._id %>">View</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>


    <div class="btn-design jump">
        <a class="link" href="/">Back to Home</a>
    </div>
</body>
</html>
