<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= clothes.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>
<body>


    <div class="show-centered">
        

        <div class="show-container">

                <h1> <%= clothes.name %></h1>
                <% if (clothes.isOnSale) { %>
                    <p>This item is on sale!</p>
                    <% } else { %>
                     <p>This item is <strong>NOT</strong> on sale!</p>
                <% } %>
            
                <hr>
                <h3>Product Details</h3>
                <hr>
                
                <p>Price: <strong>$<%= clothes.price %></strong></p>
                <p>Quantity: <strong><%= clothes.quantity %>pcs</strong> </p>
                <p>Color: <strong><%= clothes.color %></strong> </p>
                <p>Material Type: <strong><%= clothes.materialType %></strong> </p>
                
        
                <div class="actions">
                    <form onclick="deleteAlert('<%= clothes.name %>')" action="/clothes/<%= clothes._id %>?_method=DELETE" method="POST">
                        <button class="submit-btn jump" type="submit">Delete Item</button>
                    </form>
                
            
                    <a class="edit-btn jump" href="/clothes/<%= clothes._id %>/edit">
                        Edit <%= clothes.name %>
                    </a>  
                </div>
       
        </div>
            
    
    </div>

    <div class="backto-btn jump">
        <a class="link" href="/clothes">Back to Inventory</a>

    </div>


    <script>
        function deleteAlert(itemname) {
          alert(`${itemname} is deleted!`);
        }
    </script>

</body>
</html>